/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-mono;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold;
}
h1,
h2 {
	@apply font-sans;
}

h1 {
	@apply text-2xl;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-lg;
}
h4 {
	@apply text-base;
}

.print {
	@apply !hidden print:visible;
}
.no-print {
	@apply !visible print:hidden;
}

p {
	@apply text-balance text-sm text-gray-500;
}
